@import "tailwindcss";

:root {
  /* colors */
  --color-background: #050816;
  --color-card: #0b1020;
  --color-primary: #7b5cff;
  --color-secondary: #00e0ff;
  --color-textP: #f5f5f5;
  --color-textS: #9ca3af;
  --color-gradient: linear-gradient(120deg,
      #7B5CFF 0%,
      #00E0FF 25%,
      #FF7CE5 50%,
      #7B5CFF 75%,
      #00E0FF 100%);

  /* fonts */
  --font-geistMono: "JetBrains Mono", monospace;
  --font-geist: "Poppins", sans-serif;
  --font-playfair: "Playfair Display", serif;

  /* stiles globales */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background: var(--color-background);
}

.font-geistMono {
  font-family: var(--font-geistMono);
}

.font-playfair {
  font-family: var(--font-playfair);
}

.font-geist {
  font-family: var(--font-geist);
}